<ion-view view-title="Añadir Alineación" hide-back-button="true">
        <ion-content class="padding-top">
          <h1>Añadir alineación</h1>
          <form novalidate name="addLineup" ng-submit="addLineup.$valid && addAl(lineup)">
          <div class="list">

            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : addLineup.txtName.$invalid && addLineup.$submitted }">
              <span class="input-label">Nombre</span>
              <input name="txtName" type="text" ng-model="lineup.name" placeholder="Nombre"
              ng-minlength="3"
              ng-maxlength="15"
              required>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : addLineup.txtName.$invalid && addLineup.$submitted }">
              <span class="input-label">Descripción</span>
              <input name="txtName" type="text" ng-model="lineup.description" placeholder="Descripción"
              ng-minlength="3"
              ng-maxlength="20"
              required>
            </label>

            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="addLineup.txtName.$error" ng-if="addLineup.$submitted">
              <div class="form-error" ng-message="required">Este campo es obligatorio</div>    
              <div class="form-error" ng-message="minlength">Este campo debe tener al menos 3 caracteres</div>
              <div class="form-error" ng-message="maxlength">Este campo debe tener al menos 3 caracteres</div>
            </div>



          </div>


          <div class="padding-top">
            <input type="submit" class="button button-block button-balanced" ng-disabled="addLineup.$invalid" value="Añadir">
            <p class="text-center padding-top">
                <a href="#/tabs/lineups" class="button button-clear button-positive">Volver</a>
          </div>
        </form>
        </ion-content>
</ion-view>