/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

/*$dark:                          #152561 !default;
$balanced:                        #213FAD !default;
$calm:                            #3750AD !default;*/

$dark: #070d06 !default;
$balanced: #4d8b3f !default;
$calm: #5aa849 !default;
$positive: #1a2a96 !default;
$royal: rgb(255, 51, 0) !default;

$grey-light: #636363;

$color-goalkeeper: #53917e;
$color-defense: #6e0d25;
$color-midfielder: #5a54c4;
$color-striker: #c97064;
