/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

/*$dark:                          #152561 !default;
$balanced:                        #213FAD !default;
$calm:                            #3750AD !default;*/

$color-primary: hsl(227, 100%, 22%);
$color-secondary: hsl(232, 54%, 41%);
$color-tertiary: hsl(238, 54%, 61%);

$dark: $color-primary;//#0E2431!default;
$positive: $color-secondary;//#1a2a96 !default;
$energized: $color-tertiary;

$balanced: hsl(149, 96%, 22%) !default;
$assertive: hsl(350, 91%, 43%) !default;
$calm: hsl(149, 100%, 33%) !default;
$royal: hsl(0, 78%, 59%) !default;

$grey-light: hsl(0, 0%, 39%);
$color-white: hsl(0, 0%, 100%);



$color-goalkeeper: 	hsl(234, 26%, 23%);
$color-defender: hsl(0, 78%, 59%);
$color-midfielder: hsl(348, 45%, 39%);
$color-forward: hsl(318, 22%, 27%);

