/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

/*$dark:                          #152561 !default;
$balanced:                        #213FAD !default;
$calm:                            #3750AD !default;*/

$dark: #0E2431!default;
$balanced: #027037!default;
$assertive: #cf0a2c !default;
$calm: #00a650 !default;
$positive: #1a2a96 !default;
$royal: #e84545 !default;

$grey-light: #636363;

$color-goalkeeper: #2b2e4a;
$color-defense: #e84545;
$color-midfielder: #903749;
$color-striker: #53354a;
