.dorsal-box {
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $grey-light;
}

.player-box {
  width: 1.7rem;
  height: auto;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.po {
  background-color: $color-goalkeeper;
}

.df {
  background-color: $color-defense;
}

.mc {
  background-color: $color-midfielder;
}

.dl {
  background-color: $color-striker;
}

.item-divider {
  text-align: center;
}

.item-divider-dark {
  background-color: $dark;
  color: white;
}

.disponible {
  color: $balanced;
}
.lesionado {
  color: red;
}

.player-description {
  text-align: center;
}
