/* PLAYERS */
.item-divider {
  text-align: center;

  &--dark {
    background-color: $positive;
    color: $color-white;
  }
}

//Abbreviation of the players position
.player-box {
  width: 2.5rem;
  color: $color-white;
  text-align: center;
}

//Position colors
.gk {
  background-color: $color-goalkeeper;
}

.df {
  background-color: $color-defense;
}

.mf {
  background-color: $color-midfielder;
}

.fw {
  background-color: $color-striker;
}

//Circle with the dorsal number
.number-box {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: $color-white;
  text-align: center;
  border-radius: 50%;
  background-color: $grey-light;
}

/* PLAYER DETAIL */
.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.player-description {
  text-align: center;
}

.available {
  color: $balanced;
}
.injured {
  color: $assertive;
}
