<ion-view view-title="Alineaciones" hide-back-button="true">
        
<ion-content  class="has-subheader">
        <ion-list>

          <ion-item href="#/tabs/alineaciones/addAlineacion">
            <button class="button icon-left ion-plus-circled button-block button-positive" >
              Añadir Alineación
            </button>
          </ion-item>

          <div class="item item-divider item-divider-calm">
            Alineaciones
          </div>

          <!-- <ion-item ng-class="{'star': item.star}" ng-repeat='item in artists | filter:query' class="item-thumbnail-left item-icon-right item-text-wrap" href="#/tab/list/{{item.shortname}}">
            <img ng-src="img/{{item.shortname}}.jpeg" alt="{{item.name}} Photo">
            <h2>{{item.name}}</h2>
            <h3>{{item.reknown}}</h3>
            <p>{{item.bio | limitTo: 250}}{{item.bio.length > 150 ? '&hellip;' : ''}}</p>
          </ion-item> -->
          <ion-item ng-repeat="alineacion in alineaciones" href="#/tabs/alineaciones/{{alineacion.nombre}}">
			<h2>{{ alineacion.nombre }}</h2>
			<h3>{{ alineacion.descripcion}}</h3>
          </ion-item>
          
          
        </ion-list>
      </ion-content>
</ion-view>
