<ion-view view-title="Evento">
	<ion-content has-subheader="false">
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap" ng-repeat="event in events| filter: {name: whichevent}">
			
			<div ng-show="event.type == 'Partido'">
	            <h1>{{event.type}}</h1>
	            <b>{{event.name}} </b><br>
	            <b>Lugar</b>
	            <h2>{{event.place}}</h2>
	            <b>Día</b>
	            <h2>{{event.date}}</h2>				
			</div>

			<div ng-show="event.type == 'Entrenamiento'">
	            <h1>{{event.type}}</h1>
	            <b>{{event.name}} </b><br>
	            <b>Lugar</b>
	            <h2>{{event.place}}</h2>
	            <b>Hora inicio</b>
	            <h2>{{event.date | date: "H:mm"}}</h2>				
			</div>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>