<ion-view view-title="Alineaciones" hide-back-button="true">
        
<ion-content  class="has-subheader">
        <ion-list>

          <ion-item href="#/tabs/lineups/addLineup">
            <button class="button icon-left ion-plus-circled button-block button-positive" >
              Añadir Alineación
            </button>
          </ion-item>

          <div class="item item-divider item-divider-calm">
            Alineaciones
          </div>


          <ion-item ng-repeat="alineacion in alineaciones" href="#/tabs/lineups/{{alineacion.nombre}}">
      			<h2>{{alineacion.nombre}}</h2>
      			<h3>{{alineacion.descripcion}}</h3>
          </ion-item>
          
          
        </ion-list>
      </ion-content>
</ion-view>
