<ion-view view-title="Alineaciones" hide-back-button="true">
        
<ion-content  class="">
        

          <ion-item href="#/tabs/lineups/addLineup">
            <button class="button icon-left ion-plus-circled button-block button-balanced" >
              Añadir Alineación
            </button>
          </ion-item>

          <button class="button icon-left ion-close-circled button-block button-assertive" ng-click="data.showDelete = !data.showDelete;">
              Borrar Alineación
          </button>

          <div class="item item-divider item-divider-calm">
            Alineaciones
          </div>

          <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="lineup in lineups" href="#/tabs/lineups/{{lineup.$id}}" class="item-icon-left">
              <i class="icon ion-ios-keypad"></i>
        			<h2>{{lineup.name}}</h2>
        			<h3>{{lineup.description}}</h3>

              <ion-delete-button class="ion-close-circled" ng-click="onItemDelete(lineup)"></ion-delete-button>

            </ion-item>
          
          
          </ion-list>
      </ion-content>
</ion-view>
