<ion-view view-title="Detalle Evento">
	<ion-content has-subheader="false">
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap" ng-repeat="event in events| filter: {$id: whichevent}">
			
			<div ng-show="event.type == 'Partido'">
	            <h1>{{event.type}}| {{event.dayWeek}} {{event.dayNumber}}</h1></h1>

	            <div class="item item-divider item-divider-calm">
		            <div ng-hide="event.place == 'Fuera'">Tu equipo {{event.teamGoals}} - {{event.rivalGoals}} {{event.rival}}
		            </div>
		            <div ng-hide="event.place == 'En casa'">
		            {{event.rival}} {{event.rivalGoals}} - {{event.teamGoals}} Tu equipo</div>
		            </div>
	            </div>
	            <br>

				<div class="player-description">
		            <b>{{event.name}} </b><br>
		            <b>Lugar</b>
		            <h2>{{event.place}}</h2>
		            <b>Día</b>
		            <h2>{{event.date}}</h2>	
		            <b>Hora <i class="icon ion-clock"></i></b>
		            <h2>{{event.hourStart}}</h2>
	 	        </div>
	 	        <br>

	         	<button class="button button-dark button-block" ng-show="!event.finished" ng-click="finishMatch(event.$id)">
                  Terminar partido
              	</button>
              	

              	</div>



              	 <form novalidate  ng-show="event.finished && editing" ng-submit="">

	              	 <div class="row" ng-hide="event.place == 'Fuera'" class="button-bar">
		              <div class="col col-33" style="text-align:center"><b>Tu equipo</b> </div>
		              <div class="col col-11">
			              <button class="button button-small button-dark" ng-click="openGoalsModal(1)">
			                  {{teamGoals}}
			              </button>
		              </div>

		              <div class="col col-11">- </div>
		              <div class="col col-11">
			              <button class="button button-small button-dark" ng-click="openGoalsModal(2)">
			                  {{rivalGoals}}
			              </button>
		              </div>
		              <div class="col col-33" style="text-align:center"><b>{{event.rival}}</b> </div>
		          	 </div>

		          	 <div class="row" ng-hide="event.place == 'En casa'" class="button-bar">
		               <div class="col col-33" style="text-align:center"><b>{{event.rival}} </b></div>
		               <div class="col col-11">
			              <button class="button button-small button-dark" ng-click="openGoalsModal(2)">
			                  {{rivalGoals}}
			              </button>
		               </div>
		               <div class="col col-11">- </div>
		               <div class="col col-11">
			              <button class="button button-small button-dark" ng-click="openGoalsModal(1)">
			                  {{teamGoals}}
			              </button>
		               </div>
		               <div class="col col-33" style="text-align:center"><b>Tu equipo</b></div>
		          	 </div>

		          	 <div class="padding-top" ng-show="editing">
			            <button class="button button-block button-balanced" ng-click="saveGoals(event.$id)">
		                  Aceptar
		              	</button>
			            <button class="button button-block button-assertive" ng-click="stopEdit()">
		                  Cancelar
		              	</button>
			         </div>

              	 </form>

              

              	 <div class="padding-top" ng-show="event.finished && !editing">
			            <button class="button  button-dark button-block" ng-click="edit(event.$id)">
		                  <i class="radio-icon ion-edit"> Editar resultado</i>
		              	</button>
			     </div>	

			</div>

			<div ng-show="event.type == 'Entrenamiento'">
	            <h1>{{event.type}} | {{event.dayWeek}} {{event.dayNumber}}</h1>
	            <b>{{event.name}} </b><br>
	            <b>Lugar</b>
	            <h2>{{event.place}}</h2>
	            <b>Hora  <i class="icon ion-clock"></i> </b>
	            <h2>De {{event.hourStart}} a {{event.hourEnd}}</h2>	
	         	<b>Ejercicios</b>	
	         	<h2>Estrategias creadas en Sección "Estrategias"</h2>	
			</div>

			</ion-item>
		</ion-list>

		<script id="goalsModal.html" type="text/ng-template">
          <ion-modal-view>

              <ion-header-bar>
                <h1 class="title">Goles marcados</h1>
              </ion-header-bar>
            <ion-content>
                <ion-list>
                <ion-item ng-repeat="n in numbers" ng-click="assignGoals(1, n)">
                  {{n}}
                </ion-item>
                </ion-list>
              </ion-content>
          </ion-modal-view>

        </script>

        <script id="goalsModal2.html" type="text/ng-template">
          <ion-modal-view>

              <ion-header-bar>
                <h1 class="title">Goles marcados</h1>
              </ion-header-bar>
            <ion-content>
                <ion-list>
                <ion-item ng-repeat="n in numbers" ng-click="assignGoals(2, n)">
                  {{n}}
                </ion-item>
                </ion-list>
              </ion-content>
          </ion-modal-view>

        </script>

	</ion-content>
</ion-view>