<ion-view view-title="Evento">
	<ion-content has-subheader="false">
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap" ng-repeat="event in events| filter: {name: whichevent}">
			
			<div ng-show="event.type == 'Partido'">
	            <h1>{{event.type}} vs {{event.rival}} | {{event.dayWeek}} {{event.dayNumber}}</h1></h1>
	            <b>{{event.name}} </b><br>
	            <b>Lugar</b>
	            <h2>{{event.place}}</h2>
	            <b>Día</b>
	            <h2>{{event.date}}</h2>	
	            <b>Hora <i class="icon ion-clock"></i></b>
	            <h2>{{event.time | date: "H:mm"}}</h2>
	            <b>Alineación</b>	
	         	<h2>Estrategias creadas en Sección "Estrategias"</h2>
	         	<b>Resultado</b><br>
	         	<button class="button button-dark" ng-show="!event.finished" ng-click="finishMatch(event.$id)">
                  Terminar partido
              	</button>
              	 <form novalidate  ng-show="event.finished && editing" ng-submit="addLineup.$valid && addAl(lineup)">
	              	 <div class="button-bar">
		              Tu equipo 
		              <button class="button button-dark" ng-click="openGoalsModal(1)">
		                  {{teamGoals}}
		              </button>
		              - <button class="button button-dark" ng-click="openGoalsModal(2)">
		                  {{rivalGoals}}
		              </button>
		                  {{event.rival}} 
		          	 </div>

		          	 <div class="padding-top" ng-show="editing">
			            <button class="button button-block button-balanced" ng-click="saveGoals(event.$id)">
		                  Aceptar
		              	</button>
			            <button class="button button-block button-assertive" ng-click="editing=false">
		                  Cancelar
		              	</button>
			         </div>

              	 </form>

              	 <div ng-show="goalsSaved">Tu equipo {{teamGoals}} - {{rivalGoals}}  {{event.rival}}</div>

              	 <div class="padding-top" ng-show="!editing && event.finished">
			            <button class="button  button-balanced" ng-click="editing=true">
		                  <i class="radio-icon ion-edit"></i>
		              	</button>
			     </div>	

			</div>

			<div ng-show="event.type == 'Entrenamiento'">
	            <h1>{{event.type}} | {{event.dayWeek}} {{event.dayNumber}}</h1>
	            <b>{{event.name}} </b><br>
	            <b>Lugar</b>
	            <h2>{{event.place}}</h2>
	            <b>Hora  <i class="icon ion-clock"></i> </b>
	            <h2>De {{event.hourStart | date: "H:mm"}} a {{event.hourEnd | date: "H:mm"}}</h2>	
	         	<b>Ejercicios</b>	
	         	<h2>Estrategias creadas en Sección "Estrategias"</h2>	
			</div>

			</ion-item>
		</ion-list>

		<script id="goalsModal.html" type="text/ng-template">
          <ion-modal-view>

              <ion-header-bar>
                <h1 class="title">Goles marcados</h1>
              </ion-header-bar>
            <ion-content>
                <ion-list>
                <ion-item ng-repeat="n in numbers" ng-click="assignGoals(1, n)">
                  {{n}}
                </ion-item>
                </ion-list>
              </ion-content>
          </ion-modal-view>

        </script>

        <script id="goalsModal2.html" type="text/ng-template">
          <ion-modal-view>

              <ion-header-bar>
                <h1 class="title">Goles marcados</h1>
              </ion-header-bar>
            <ion-content>
                <ion-list>
                <ion-item ng-repeat="n in numbers" ng-click="assignGoals(2, n)">
                  {{n}}
                </ion-item>
                </ion-list>
              </ion-content>
          </ion-modal-view>

        </script>

	</ion-content>
</ion-view>