<ion-view view-title="Añadir Jugador" hide-back-button="true">
        <ion-content class="padding-top">
          <h1>Añadir jugador</h1>
          <form novalidate name="addPlayer" ng-submit="addPlayer.$valid && addP(player)">
          <div class="list">

            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : addPlayer.txtName.$invalid && addPlayer.$submitted }">
              <span class="input-label">Nombre</span>
              <input name="txtName" type="text" ng-model="player.name" placeholder="Nombre"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>


            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="addPlayer.txtName.$error" ng-if="addPlayer.$submitted">
              <div class="form-error" ng-message="required">Este campo es obligatorio</div>
              <div class="form-error" ng-message="email">This field must be an email.</div>
              <div class="form-error" ng-message="minlength">This field must be at least 5 characters.</div>
              <div class="form-error" ng-message="maxlength">This field must be less than 30 characters.</div>
            </div>



            <label  class="item item-input item-select" >
              <div class="input-label">
                Posición
              </div>
              <select name="position" ng-model="player.position">
                <option>Portero</option>
                <option selected>Defensa</option>
                <option>Centrocampista</option>
                <option>Delantero</option>
              </select>
            </label>

            <label  class="item item-input item-select" >
              <div class="input-label">
                Dorsal
              </div>
              <select name="dorsal" ng-model="player.dorsal">
                <option ng-repeat="dorsal in dorsals">{{dorsal}}</option>
              </select>
            </label>

            <!-- <label class="item-input">
                  <span class="input-label">Fecha de nacimiento</span>
                  <input type="date" name="fecha" ng-model="player.fecha">
            </label>  -->
            <label  class="item" >
            <ionic-datepicker input-obj="datepickerObjectModal">
              <button class="button button-block button-positive"> Fecha de nacimiento</button>
            </ionic-datepicker>
            <h3>{{fechaMostrar}}</h3>
            </label>

            <label  class="item item-input item-select" >
              <div class="input-label">
                Estado
              </div>
              <select name="condition" ng-model="player.condition">
                <option>Disponible</option>
                <option>Lesionado</option>
              </select>
            </label>
            
          </div>


          <div class="padding-top">
            <input type="submit" class="button button-block button-balanced" value="Añadir">
            <p class="text-center padding-top">
                <a href="#/tabs/players" class="button button-clear button-positive">Volver</a>
            </p>
          </div>

        </form>
        </ion-content>
</ion-view>