<ion-view view-title="Estrategias" hide-back-button="true">
        
<ion-content  class="">
        


        <div  class="bar-dark bar-subheader">
          <div class="button-bar ">
         
            <button class="button icon-left ion-plus-circled  button-balanced" onclick="window.location.href='#/tabs/strategies/addStrategy'">
              Añadir 
            </button> 
            <button class="button button icon-left ion-close-circled button-assertive" ng-click="data.showDelete = !data.showDelete;">
              Borrar 
            </button>
       
          </div>
        </div>  


          <div class="item item-divider item-divider-calm">
            Estrategias
          </div>

          <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="strategy in strategies" href="#/tabs/strategies/{{strategy.name}}" class="item-icon-left">
              <i class="icon ion-android-clipboard"></i>
        			<h2>{{strategy.name}}</h2>
        			<h3>{{strategy.description}}</h3>

              <ion-delete-button class="ion-close-circled" ng-click="onItemDelete(strategy)"></ion-delete-button>

            </ion-item>
          
          
          </ion-list>
      </ion-content>
</ion-view>
