<ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
</ion-nav-buttons> 


<ion-tabs class="tabs-icon-top tabs-dark">
  <ion-tab title="Players" icon="ion-ios-people"
    href="#/tabs/players">
    <ion-nav-view name="players-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Lineups" icon="ion-ios-football-outline"
    href="#/tabs/lineups">
    <ion-nav-view name="lineups-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Strategy" icon="ion-clipboard"
    href="#/tabs/strategies">
    <ion-nav-view name="strategies-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendar" icon="ion-calendar"
    href="#/tabs/calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

