<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="Plantilla" icon="ion-ios-people"
    href="#/tabs/plantilla">
    <ion-nav-view name="plantilla-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Alineaciones" icon="ion-ios-football-outline"
    href="#/tabs/alineaciones">
    <ion-nav-view name="alineaciones-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Estrategia" icon="ion-clipboard"
    href="#/tabs/estrategia">
    <ion-nav-view name="estrategia-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendario" icon="ion-calendar"
    href="#/tabs/calendario">
    <ion-nav-view name="calendario-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>