<ion-view view-title="Calendario" hide-back-button="true">
        
<ion-content  class="has-subheader">
        <ion-list>

          <ion-item href="#/tabs/calendario/addEvento">
            <button class="button icon-left ion-plus-circled button-block button-positive" >
              Añadir Evento
            </button>
          </ion-item>

          <div class="item item-divider item-divider-calm">
            Calendario
          </div>

            <label  class="item item-input item-select" >
              <div class="input-label">
                Mes
              </div>
              <select name="type" ng-model="event.month">
                <option value="January">Enero</option>
                <option value="February">Febrero</option>
                <option value="March">Marzo</option>
                <option value="April">Abril</option>
                <option value="May">Mayo</option>
                <option value="June">Junio</option>
                <option value="July">Julio</option>
                <option value="August">Agosto</option>
                <option value="September">Septiembre</option>
                <option value="October">Octubre</option>
                <option value="November">Noviembre</option>
                <option value="December">Diciembre</option>
              </select>
            </label>
            
          <!-- <ion-item ng-class="{'star': item.star}" ng-repeat='item in artists | filter:query' class="item-thumbnail-left item-icon-right item-text-wrap" href="#/tab/list/{{item.shortname}}">
            <img ng-src="img/{{item.shortname}}.jpeg" alt="{{item.name}} Photo">
            <h2>{{item.name}}</h2>
            <h3>{{item.reknown}}</h3>
            <p>{{item.bio | limitTo: 250}}{{item.bio.length > 150 ? '&hellip;' : ''}}</p>
          </ion-item> -->
          <ion-item ng-repeat="event in events | filter: {monthWord: event.month}" href="#/tabs/calendario/{{event.name}}">
			<h2>{{event.dayWeek}}, {{event.dayNumber}}</h2>
			<h2><b>{{ event.type}}</b></h2>
          </ion-item>
          
          
        </ion-list>
      </ion-content>
</ion-view>
