<ion-view view-title="Plantilla" hide-back-button="true">
        
<ion-content  class="has-subheader">
        <ion-list>

          <ion-item href="#/tabs/plantilla/addPlayer">
            <button class="button icon-left ion-plus-circled button-block button-positive" >
              Añadir Jugador
            </button>
          </ion-item>

          <div class="item item-divider item-divider-calm">
            Plantilla
          </div>

          <!-- <ion-item ng-class="{'star': item.star}" ng-repeat='item in artists | filter:query' class="item-thumbnail-left item-icon-right item-text-wrap" href="#/tab/list/{{item.shortname}}">
            <img ng-src="img/{{item.shortname}}.jpeg" alt="{{item.name}} Photo">
            <h2>{{item.name}}</h2>
            <h3>{{item.reknown}}</h3>
            <p>{{item.bio | limitTo: 250}}{{item.bio.length > 150 ? '&hellip;' : ''}}</p>
          </ion-item> -->
          <ion-item ng-repeat="player in players" href="#/tabs/plantilla/{{player.name}}">
          <i class="icon ion-person"></i><h2>{{ player.dorsal }}</h2>
			     <h2>{{ player.name }}</h2>
			     <h3>{{ player.position}}</h3>
          </ion-item>
          
          
        </ion-list>
      </ion-content>
</ion-view>
