<ion-view view-title="Detalle Alineación">
	<ion-content has-subheader="false" class="alineaciones">
<!-- 	<h2 class="title">Alineación nombre</h2>
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap" ng-repeat="player in players | filter: {name: whichplayer}">

	            <h1>{{player.name}}</h1>
	            <b>Posición</b>
	            <h2>{{player.position}}</h2>
		
			</ion-item>
			<a href="#/tabs/plantilla" class="button button-clear button-positive">Volver a Plantilla</a>
		</ion-list> -->
		<div class="row">		  
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		</div>
		<div class="row">		  
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		</div>
		<div class="row">		  
		  <div class="col col-10"></div>
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		</div>
		<div class="row">
		  <div class="col col-10"></div>
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10">.col.col-10</div>
		  <div class="col col-10"><i class="icon ion-person"></i></div>
		</div>
		<div class="row"></div>
	</ion-content>
</ion-view>