<ion-view view-title="Detalle Alineación">
	<ion-content has-subheader="false" class="alineaciones">
<!-- 	<h2 class="title">Alineación nombre</h2>
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap" ng-repeat="player in players | filter: {name: whichplayer}">

	            <h1>{{player.name}}</h1>
	            <b>Posición</b>
	            <h2>{{player.position}}</h2>
		
			</ion-item>
			<a href="#/tabs/plantilla" class="button button-clear button-positive">Volver a Plantilla</a>
		</ion-list> -->
	</ion-content>
</ion-view>