<ion-view view-title="Detalle Jugador">
	<ion-content has-subheader="false">
		
		<button ng-click="editar()" ng-class="editing == false ? 'button icon-left ion-edit button-block button-positive' : 'button icon-left ion-minus-circled button-block button-assertive'">
              {{botonEdit}}
        </button>

		<ion-list class="list-inset" >
			<ion-item class="item-text-wrap" ng-repeat="player in players | filter: {name: whichplayer}">
				<img style="width:150px; height:150px;" src="http://res.cloudinary.com/dcqushonn/image/upload/v1450025911/perfil_li3dgc.png">
	            <div ng-switch on="editing">
				<div ng-switch-when="false">
		            <h1>{{player.dorsal}} {{player.name}}</h1>
		            <b>Posición</b>
		            <h2>{{player.position}}</h2>
		            <b>Fecha de nacimiento</b>
		            <h2>{{player.date | date: "MM-dd-yyyy"}} ({{player.age}} años)</h2>
		            <b>Estado</b>
		            <h2>
		            <div ng-class="player.condition=='Disponible' ? 'disponible' : 'lesionado'">
		            {{player.condition}} <i class="icon " ng-class="player.condition=='Disponible' ? 'ion-happy' : 'ion-sad'"></i></div> </h2>
		            <b>Anotaciones</b>
		            <h2>{{player.notes}}</h2>
				</div>
				</div>

	            <div ng-switch on="editing">
	            <div ng-switch-when="true">
				<form novalidate name="editPlayer" ng-submit="editPlayer.$valid && editP(player)">
		            <b>Dorsal</b><br>
		            <select name="dorsal" ng-model="player.dorsal">
	                	<option ng-repeat="dorsal in dorsals">{{dorsal}}</option>
	              	</select><br>
		            <b>Nombre</b>
		            <input type="text" name="" ng-model="player.name" value="{{playerEdited.name}}">

		            <label  class="item item-input item-select" >
		              <div class="input-label">
		                Posición
		              </div>
		              <select name="position" ng-model="player.position">
		                <option>Portero</option>
		                <option>Defensa</option>
		                <option>Centrocampista</option>
		                <option>Delantero</option>
		              </select>
		            </label>

		            <label class="item-input">
	                  <span class="input-label">Fecha de nacimiento</span>
	                  <input type="date" name="fecha" ng-model="player.fecha">
	            	</label>
	     
		            <b>Estado</b><br>
		              <select name="condition" ng-model="player.condition">
		                <option>Disponible</option>
		                <option>Lesionado</option>
		              </select><br>
		       		<b>Anotaciones</b>
		            <input type="text" name="" value="{{player.notes}}">

					<input type="submit" class="button button-block button-balanced" value="Aceptar">

				</form>
				</div>
	            </div>
	         </ion-item>
	          
		
			

			<a href="#/tabs/players" class="button button-clear button-positive">Volver a Plantilla</a>
		</ion-list>
	</ion-content>
</ion-view>