<ion-view view-title="Detalle Jugador">
	<ion-content has-subheader="false">
		<ion-list class="list-inset">
			<ion-item class="item-text-wrap" ng-repeat="player in players | filter: {name: whichplayer}">
				<img style="width:150px; height:150px;" src="http://res.cloudinary.com/dcqushonn/image/upload/v1450025911/perfil_li3dgc.png">
	            <h1>{{player.dorsal}} {{player.name}}</h1>
	            <b>Posición</b>
	            <h2>{{player.position}}</h2>
	            <b>Fecha de nacimiento</b>
	            <h2>{{player.date | date: "MM-dd-yyyy"}}</h2>
	            <b>Estado</b>
	            <h2>
	            <div ng-class="player.condition=='Disponible' ? 'disponible' : 'lesionado'">
	            {{player.condition}} <i class="icon " ng-class="player.condition=='Disponible' ? 'ion-happy' : 'ion-sad'"></i></div> </h2>
	            <b>Anotaciones</b>
	            <h2>{{player.notes}}</h2>
	          
		
			</ion-item>
			<a href="#/tabs/players" class="button button-clear button-positive">Volver a Plantilla</a>
		</ion-list>
	</ion-content>
</ion-view>