<ion-view view-title="Players" hide-back-button="true">

  <ion-content class="players-container">

    <div class="bar-dark bar-subheader">
      <div class="button-bar ">

        <button class="button icon-left ion-plus-circled button-balanced" onclick="window.location.href='#/tabs/players/addPlayer'">
          Add
        </button>
        <button class="button button icon-left ion-close-circled button-assertive" ng-click="data.showDelete = !data.showDelete;">
          Delete
        </button>

      </div>
    </div>

    <div class="item item-divider">
      Players
    </div>

    <ion-list show-delete="data.showDelete">

      <div class="item item-divider item-divider--dark">
        Goalkeepers
      </div>
      <ion-item ng-class="{'star': player.star}" ng-repeat="player in players | filter: {position: 'Goalkeeper'}" href="#/tabs/players/{{player.$id}}"
        class="item item-avatar item-thumbnail-left item-icon-right item-text-wrap">
        <img src="{{player.photo}}">
        <h2>
          <b>{{ player.name }}</b>
        </h2>
        <h3 class="player-box gk">GK</h3>
        <h3 class="number-box">{{ player.dorsal }}</h3>

        <ion-delete-button class="ion-close-circled" ng-click="onItemDelete(player)"></ion-delete-button>

        <button class="button button-clear icon ion-medkit button-assertive" ng-click="toggleInjured(player)" ng-show="checkCondition(player)">
        </button>
        <ion-option-button class="button-dark" ng-click="toggleInjured(player)">
          <i class="icon ion-medkit"></i>
        </ion-option-button>
      </ion-item>

      <div class="item item-divider item-divider--dark">Defenders</div>
      <ion-item ng-class="{'star': player.star}" ng-repeat="player in players | filter: {position: 'Defender'}" href="#/tabs/players/{{player.$id}}"
        class="item item-avatar item-thumbnail-left item-icon-right item-text-wrap">
        <img src="{{player.photo}}">
        <h2>
          <b>{{ player.name }}</b>
        </h2>
        <h3 class="player-box df">DF</h3>
        <h3 class="number-box">{{ player.dorsal }}</h3>

        <ion-delete-button class="ion-close-circled" ng-click="onItemDelete(player)"></ion-delete-button>

        <button class="button button-clear icon ion-medkit button-assertive" ng-click="toggleInjured(player)" ng-show="checkCondition(player)">
        </button>
        <ion-option-button class="button-dark" ng-click="toggleInjured(player)">
          <i class="icon ion-medkit"></i>
        </ion-option-button>
      </ion-item>

      <div class="item item-divider item-divider--dark">Midfielders</div>
      <ion-item ng-class="{'star': player.star}" ng-repeat="player in players | filter: {position: 'Midfielder'}" href="#/tabs/players/{{player.$id}}"
        class="item item-avatar item-thumbnail-left item-icon-right item-text-wrap">
        <img src="{{player.photo}}">
        <h2>
          <b>{{ player.name }}</b>
        </h2>
        <h3 class="player-box mf">MF</h3>
        <h3 class="number-box">{{ player.dorsal }}</h3>

        <ion-delete-button class="ion-close-circled" ng-click="onItemDelete(player)"></ion-delete-button>

        <button class="button button-clear icon ion-medkit button-assertive" ng-click="toggleInjured(player)" ng-show="checkCondition(player)">
        </button>
        <ion-option-button class="button-dark" ng-click="toggleInjured(player)">
          <i class="icon ion-medkit"></i>
        </ion-option-button>
      </ion-item>

      <div class="item item-divider item-divider--dark">Forwards</div>
      <ion-item ng-class="{'star': player.star}" ng-repeat="player in players | filter: {position: 'Forward'}" href="#/tabs/players/{{player.$id}}"
        class="item item-avatar item-thumbnail-left item-icon-right item-text-wrap">
        <img src="{{player.photo}}">
        <h2>
          <b>{{ player.name }}</b>
        </h2>
        <h3 class="player-box fw">F</h3>
        <h3 class="number-box">{{ player.dorsal }}</h3>

        <ion-delete-button class="ion-close-circled" ng-click="onItemDelete(player)"></ion-delete-button>

        <button class="button button-clear icon ion-medkit button-assertive" ng-click="toggleInjured(player)" ng-show="checkCondition(player)">
        </button>
        <ion-option-button class="button-dark" ng-click="toggleInjured(player)">
          <i class="icon ion-medkit"></i>
        </ion-option-button>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>