<ion-view view-title="Detalle Estrategia">

	<ion-content has-subheader="false" class="estrategias lineup-background" scroll="false">

		<canvas id="signatureCanvas" width="500px" height="500px">		
		</canvas>

		<div ng-style="{height: iframeHeight + 'px'}" >
		
			<div class="fila1">
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body positive"></i></span>
			</div>

			<div class="fila2">
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
		        <span data-drag="true" jqyoui-draggable><i class="icon ion-ios-body energized"></i></span>
			</div>

			<div class="ball">
				<span data-drag="true" jqyoui-draggable><img src="img/balon.png" class="balon"></span>
			</div>

		</div>

	</ion-content>



	<ion-footer-bar class="bar-dark strategy-bar footer-bar-custom">

        <span data-drag="true" jqyoui-draggable><i class="icon ion-flag royal"></i></span>
        <span data-drag="true" jqyoui-draggable><i class="icon ion-flag royal"></i></span>
        <span data-drag="true" jqyoui-draggable><i class="icon ion-flag royal"></i></span>
        <span data-drag="true" jqyoui-draggable><i class="icon ion-flag royal"></i></span>
        <span data-drag="true" jqyoui-draggable><i class="icon ion-flag royal"></i></span>
          
        <button class="button button-assertive icon ion-trash-b item-center" ng-click="clearCanvas()"> 
        Borrar
        </button>

        <button class="button button-balanced icon ion-android-folder-open item-right" ng-click="saveStrategy()"> 
        Guardar
        </button>

    </ion-footer-bar>

</ion-view>