/* Empty. Add your own CSS if you like */

.larger {
    font-size: 120px;
}


/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}





.alineaciones{
	background: url(../img/alineaciones.png) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.alineacion-icon{
  width: 30px;
  height: auto;
}

.disponible{
  color: green;
}
.lesionado{
  color: red;
}



/****ALINEACIONES****/

.portero{
  padding-left: 45%;
  padding-top: 0%;
}

.ld4{
  padding-left: 15%;
  padding-top: 10%;
  float: left;
}

.dcd4{
  padding-left: 10%;
  padding-top: 10%;
  float: left;
}

.dci4{
  padding-left: 15%;
  padding-top: 10%;
  float: left;
}

.li4{
  padding-left: 10%;
  padding-top: 10%;
  float: left;
}


.ed4{
  padding-left: 15%;
  padding-top: 20%;
  float: left;
}

.mcd4{
  padding-left: 10%;
  padding-top: 20%;
  float: left;
}

.mci4{
  padding-left: 15%;
  padding-top: 20%;
  float: left;
}

.ei4{
  padding-left: 10%;
  padding-top: 20%;
  float: left;
}

.ddm2{
  padding-left: 35%;
  padding-top: 15%;
  float: left;
}

.dim2{
  padding-left: 15%;
  padding-top: 15%;
  float: left;
}



/*Players*/

.player-box{
  width: 25px;
  height: auto;
  color:white;
  text-align: center;
  box-sizing: border-box;
}

.po{
  background-color: #53917E;
}

.df{
  background-color: #6E0D25;
}

.mc{
  background-color: #5A54C4;
}

.dl{
  background-color: #C97064;
}



.dorsal-box{
  width: 20px;
  height: 20px;
  color:white;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #636363;
}

