/* Empty. Add your own CSS if you like */

.larger {
    font-size: 120px;
}


/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}





.alineaciones{
	background: url(../img/alineaciones.png) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.alineacion-icon{
  width: 30px;
  height: auto;
}

.disponible{
  color: green;
}
.lesionado{
  color: red;
}



/****ALINEACIONES****/
.l442{
  
  width:100%;
}

.l442 div{
  width: 100px;
  height: auto;
  line-height: 90%;
}
.portero{
  position: absolute;
  top: 1%;
  left: 45%;
}

.ld4{
  position: absolute;
  top: 20%;
  left: 10%;
}

.dcd4{
  position: absolute;
  top: 20%;
  left: 30%;
}

.dci4{
  position: absolute;
  top: 20%;
  left: 55%;
}

.li4{
  position: absolute;
  top: 20%;
  left: 75%;
}


.ed4{
  position: absolute;
  top: 45%;
  left: 10%;
}

.mcd4{
  position: absolute;
  top: 45%;
  left: 30%;

}

.mci4{
  position: absolute;
  top: 45%;
  left: 55%;
}

.ei4{
  position: absolute;
  top: 45%;
  left: 75%;
}

.ddm2{
  position: absolute;
  top: 65%;
  left: 30%;
}

.dim2{
  position: absolute;
  top: 65%;
  left: 55%;
}



/*Players*/

.player-box{
  width: 25px;
  height: auto;
  color:white;
  text-align: center;
  box-sizing: border-box;
}

.po{
  background-color: #53917E;
}

.df{
  background-color: #6E0D25;
}

.mc{
  background-color: #5A54C4;
}

.dl{
  background-color: #C97064;
}



.dorsal-box{
  width: 20px;
  height: 20px;
  color:white;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #636363;
}

.alineaciones div div{

  background-color: green;
  width: 80px;
  height: 80px;
  text-align: center;
}


.victoria{
  color: green;
}

.derrota{
  color: red;
}

.empate{
  color: orange;
}

.circular{
  width:50px; 
  height:50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border: 3px black;
}